<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <section class="row jumbotron-row">
            <div class="col-md-6 col-lg-5 col-xl-4">
                <div class="jumbotron-box jumbotron-first-box">
                    <div>
                        <h1 class="jumbotron-heading"><a href="/lonecolor/windows/" class="appname">LoneColor</a> <small class="text-muted">for Windows: your color as wallpaper</small></h1>
                        <p class="jumbotron-text">Rename "LoneColor" to "LoneColor Pink", run and get a Pink Desktop wallpaper! Or run as it is, and get a beautiful random color wallpaper.</p>
                        <p><a class="btn btn-primary" href="/cinemadrape/windows/download/" role="button">Free for Windows</a></p>
                        <p class="m-b-0">Also available for <a href="/lonecolor/android/">Android</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 col-xl-8">
                <div class="jumbotron-box">
                    <a href="/lonecolor/windows/">
                        <img class="img-fluid jumbotron-shot" src="/img/apps/lonecolor/windows/lonecolor-windows-jumbotron-shot.png" alt="LoneColor for Windows Screenshot" />
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>
