<section class="site-hero">
    <div class="container">
        <div class="row">
            <div class="content-box onethird">
                <h1 class="app-heading"><b><a class="heading-link" href="/lonecolor/windows/">LoneColor</a></b> for Windows: your color as wallpaper</h1>
                <p class="hero-text">Rename "LoneColor" to "LoneColor Pink", run and get a Pink Desktop wallpaper! Or run as it is, and get a beautiful random color wallpaper.</p>
                <a class="button button-download" href="/lonecolor/windows/download/" role="button">Free Download</a>
                <p>Also available for <a class="link" href="/lonecolor/android/">Android</a></p>
            </div>
            <div class="content-box twothirds lonecolor-box">
                <a href="/lonecolor/windows/">
                    <img class="hero-screenshot" src="/img/apps/lonecolor/windows/lonecolor-windows-jumbotron-shot.png" alt="LoneColor for Windows Screenshot" />
                </a>
            </div>
        </div>
    </div>
</section> <!-- .site-hero -->
