/* ==========================================================================
   Base styles
   ========================================================================== */

* {
	box-sizing: border-box;
}

body {
	background: white;
	color: #333;
	font-size: 100%;
	line-height: 1.4;
    font-family: 'Titillium Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: red;
	text-decoration: none;
}

h1 {
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.15;
    margin-top: 0;
}

h1 b {
	display: block;
	font-size: 2.5rem;
	font-weight: 600;
}

h3 {
	font-size: 1.5rem;
	font-weight: 700;
}

img {
	height: auto;
	max-width: 100%;
}


/* ==========================================================================
   Site Header
   ========================================================================== */

.site-header {
	background: #f1f1f1 url('/img/theme/backgrounds/header-texture.png');
	margin-bottom: 2px;
	padding: 2rem 0 1rem 0;
	text-align: center;
}

.site-header .logo {
	width: 300px;
}

.site-header nav a {
	color: black;
	display: inline-block;
	font-size: 1.25rem;
	font-weight: 700;
	padding: 0.5rem 1rem;
	transition: background-color 500ms ease;
}

.site-header nav {
	margin-top: 1rem;
}

.site-header nav a:hover, .site-header nav a:focus {
	background-color: black;
	color: white;
}

@media screen and (min-width: 900px) {
	.site-header {
		padding: 1rem 0 0.75rem 0;
	}

	.site-header .container {
		padding: 0 1.25rem;
	}

	.site-header .container:after {
		clear: both;
		content: " ";
		display: table;
	}

	.site-header .info-container {
		float: left;
	}

	.site-header .menu-container {
		float: right;
		padding-top: 1.25rem;
	}
}


/* ==========================================================================
   Site Hero
   ========================================================================== */

.site-hero {
	background-attachment: scroll, scroll;
	background-color: #383838;
	background-image: url('/img/theme/backgrounds/hero-background.png'), url('/img/theme/backgrounds/hero-texture.jpg');
	background-position: 50% 50%, 0% 0%;
	background-repeat: no-repeat, repeat;
	background-size: auto, auto;
	color: #fff;
	padding: 1.5rem 0;
}

@media screen and (min-width: 900px) {
	.site-hero {
		padding: 1.25rem 0 0 0;
	}
}

.site-hero .content-box {
	background: #222 url('/img/theme/backgrounds/hero-box-texture.jpg') repeat;
	border-color: #030303 #3c3c3c #3c3c3c #030303;
	border-width: 1px 1px 2px;
    vertical-align: middle;
}

.site-hero .twothirds {
	margin-bottom: 0;
}

.hero-text {
	margin-bottom: 1.5rem;
}


/* ==========================================================================
   Site Content
   ========================================================================== */

.site-main {
	background-color: #e7e7e7;
	background-image: url('/img/theme/backgrounds/site-main-texture.png');
	padding: 1.5rem 0;
}

.container {
	margin: 0 1rem;
	max-width: 1140px;
}

@media screen and (min-width: 480px) {
	.container {
		margin: 0 2rem;
	}
}

@media screen and (min-width: 900px) {
	.container {
		margin: 0 auto;
	}
}

/*
 * Rows and Columns
 */

.third, .onethird, .twothirds, .dummy-row {
	margin-bottom: 1.5rem;
}

.twothirds {
	text-align: center;
	vertical-align: middle;
}

@media screen and (min-width: 900px) {
	.row {
		display: table;
		border-collapse: separate;
		border-spacing: 1.25rem;
		margin-top: -1.25rem;
		width: 100%;
	}

    .dummy-row {
		margin: 0 1.25rem 1.25rem 1.25rem;
	}

	.third, .onethird, .twothirds {
		display: table-cell;
		margin-bottom: 0;
		vertical-align: top;
	}

	.third {
		width: 33.33%;
	}

	.onethird {
		width: 32.66%;
	}

	.twothirds {
		width: 67.33%;
	}
}

/* ==========================================================================
   Site Footer
   ========================================================================== */

.site-footer {
	background-color: #c3c3c3;
	background-image: url('/img/theme/backgrounds/footer-texture.png');
	padding: 2rem 0;
}

.site-footer .dummy-row {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.site-footer .logo {
	width: 192px;
}

.site-footer .rights {
	display: block;
}

.site-footer .button {
	font-size: 1rem;
	vertical-align: top;
}

@media screen and (min-width: 900px) {
    .site-footer {
		padding-bottom: 3rem;
	}

	.site-footer .dummy-row {
		display: table;
		width: 100%;
	}

	.site-footer li {
		display: table-cell;
	}

	.site-footer-info {
		padding-left: 1.25rem;
		text-align: left;
		vertical-align: top;
	}

	.site-footer .menu-container {
		padding-right: 1.25rem;
		text-align: right;
		vertical-align: middle;
	}

	.site-footer .logo {
		float: left;
	}

	.site-footer-info p {
		margin: 0 0 0 220px;
	}

	.site-footer .rights {
		display: inline-block;
	}
}
