    <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="container">
            <ul class="dummy-row">
                <li class="site-footer-info">
                    <a href="/">
                        <img class="logo" src="/img/theme/branding/appgramming-footer-logo.png" alt="Appgramming Logo">
                    </a>
                    <p><a class="link" href="/privacy/">Privacy Policy</a><br />Copyright &copy; 2012-2016 Appgramming. <span class="rights">All Rights Reserved.</span></p>
                </li>
                <li class="menu-container">
                    <a href="https://twitter.com/appgramming" target="_blank"><img class="social social-twitter" src="/img/third/social/twitter.svg" alt="Twitter" title="Follow Appgramming on Twitter" /></a>
                    <a href="https://appgramming.tumblr.com" target="_blank"><img class="social social-tumblr" src="/img/third/social/tumblr.svg" alt="Tumblr" title="Follow Appgramming on Tumblr" /></a>
                    <a class="button" href="/contact/">Contact</a>
                </li>
            </ul>
        </div>
    </footer><!-- #colophon -->

</body>
</html>
