<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">

    {% seo %}
</head>
<body>

    <header id="masthead" class="site-header" role="banner">
        <div class="container">
            <div class="info-container">
                <a href="/">
                    <img class="logo" src="/img/theme/branding/appgramming-header-logo.png" alt="Appgramming Logo">
                </a>
            </div>

            <div class="menu-container">
                <nav role="navigation">
                    <a href="/apps/">Apps</a>
                    <a href="/reviews/">Reviews</a>
                    <a href="/support/">Support</a>
                    <a href="/about/">About</a>
                </nav>
            </div>
        </div>
	</header><!-- #masthead -->
