---
active          : overview
app             : lonecolor-windows
layout          : app-page

title           : CinemaDrape - Focus on your current task on screen
description     : CinemaDrape helps you focus on your current task, by instantly blanking or dimming the other less important areas on web pages or your Desktop.
image           : /img/apps/cinemadrape/cinemadrape-jumbotron-shot.jpg
---

<div class="row content-row">
    <div class="col-lg-4">
        <div class="content-box content-box-1">
            <h2 class="content-heading">Color wallpapers</h2>
            <p>
                Solid color wallpapers may be a welcome, refreshing and modern change from the traditional photo wallpapers.
                They also free up valuable memory and make PCs run faster. Use LoneColor to try one on your Desktop.
            </p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="content-box content-box-2">
            <h2 class="content-heading">Just one click</h2>
            <p>
                LoneColor is very easy to use: simply drop the program or its shortcut on your Desktop and double-click it to
                get a random color wallpaper. Or rename "LoneColor" to "LoneColor Pink", and run it to get a Pink wallpaper.
            </p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="content-box content-box-3">
            <h2 class="content-heading">No user interface</h2>
            <p>
                LoneColor has a minimal design and no user interface! To specify the color you want to use, just add its name or
                code to the program name. It's like using command line parameters, but a lot easier. And less technical.
            </p>
        </div>
    </div>
</div>

<div class="row content-row">
    <div class="col-lg-4">
        <div class="content-box content-box-4">
            <h2 class="content-heading">Clipboard talk</h2>
            <p>
                As a zero interface app, LoneColor has no windows! So it talks to the user using the... Clipboard. It writes
                the color code of your wallpaper, or any error messages, to the Clipboard. To see them, paste anywhere.
            </p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="content-box content-box-5">
            <h2 class="content-heading">Works anywhere</h2>
            <p>
                If you are using a notebook and running a Starter Edition of Windows, you are stuck with the default
                wallpaper. There is no option to change it. LoneColor can help you set a fast and clean solid color wallpaper.
            </p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="content-box content-box-1">
            <h2 class="content-heading">Easy to go back</h2>
            <p>
                Want to restore your old photo wallpaper? Rename "LoneColor" to "LoneColor C" (or create a "LoneColor C"
                shortcut), and run it to open the Desktop Background Control Panel, where you can easily undo changes.
            </p>
        </div>
    </div>
</div>

<section class="content-box third-logos-box">
    <h2 class="content-heading">As featured in</h2>
    <a href="http://lonecolor.software.informer.com/" target="_blank">
        <img class="third-logo" src="/img/third/reviews/s/software-informer/software-informer-excellent-award.png" alt="Software Informer" /></a>
    <a href="http://www.webuser.co.uk/issue-371-out-wednesday-20-may-2015" target="_blank">
        <img class="third-logo" src="/img/third/reviews/w/webuser/webuser.png" alt="Web User" /></a>
    <a href="http://download.cnet.com/LoneColor/3000-2072_4-75891318.html" target="_blank">
        <img class="third-logo" src="/img/third/reviews/c/cnet/cnet.png" alt="CNET" /></a>
    <a href="http://betanews.com/2015/05/01/set-your-wallpaper-to-a-single-shade-with-lonecolor/" target="_blank">
        <img class="third-logo" src="/img/third/reviews/b/betanews/betanews.png" alt="BetaNews" /></a>
    <a href="http://www.freeware.de/download/lonecolor-for-windows/?utm_source=badge&#038;utm_medium=BA&#038;utm_campaign=badge_manufacturer" target="_blank">
        <img class="third-logo" src="/img/third/reviews/f/freeware-de/freeware-de.png" alt="Freeware.de" /></a>
    <a href="http://www.giga.de/downloads/lonecolor/" target="_blank">
        <img class="third-logo" src="/img/third/reviews/g/giga/giga.png" alt="GIGA" /></a>
    <a href="http://www.pcadvisor.co.uk/downloads/3330403/lonecolor-30080/" target="_blank">
        <img class="third-logo" src="/img/third/reviews/p/pcadvisor/pcadvisor.png" alt="PC Advisor" /></a>
    <a href="http://www.techworld.com/download/system-desktop-tools/lonecolor-30080-3330403/" target="_blank">
        <img class="third-logo" src="/img/third/reviews/t/techworld/techworld.png" alt="Techworld" /></a>
</section>

<section class="third-quotes">
    <div class="row content-row">
        {% capture thecontent %}
            <p><q><strong>LoneColor with the surprise effect</strong>: run the program, and it randomly selects a tint and colors the background.</q></p>
        {% endcapture %}
        {% include templates/standard-content-box.html index="1" heading="GIGA" %}

        {% capture thecontent %}
            <p><q><strong>Overwhelmingly simple</strong> - it comes without a user interface - no windows, no settings, no parameters, nothing.</q></p>
        {% endcapture %}
        {% include templates/standard-content-box.html index="2" heading="Software Informer" %}

        {% capture thecontent %}
            <p><q>LoneColor boasts what could appropriately be called a zero interface. ... <strong>A very simple and unique app</strong>.</q></p>
        {% endcapture %}
        {% include templates/standard-content-box.html index="3" heading="AddictiveTips" %}
    </div>

    <div class="row content-row">
        {% capture thecontent %}
            <p><q>A tiny free tool with <strong>one simple, minimalist answer</strong>. Just run the program and it sets your wallpaper to a solid color.</q></p>
        {% endcapture %}
        {% include templates/standard-content-box.html index="4" heading="BetaNews" %}

        {% capture thecontent %}
            <p><q>What sounds simple, makes sense. ... Who wants more concentration on the computer, <strong>has found the right tool.</strong></q></p>
        {% endcapture %}
        {% include templates/standard-content-box.html index="5" heading="Freeware.de" %}

        {% capture thecontent %}
            <p>Read <a href="/lonecolor/reviews/">LoneColor reviews</a> from all over the world, from leading media outlets, news sources, blogs, and download portals.</p>
        {% endcapture %}
        {% include templates/standard-content-box.html index="1" heading="More Reviews" %}
    </div>
</section>
